langchain
langgraph
langchain-core
langchain-community

langchain-groq
groq

langsmith

pandas
numpy

matplotlib
seaborn

streamlit

tavily-python

python-dotenv
pydantic
requests

google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib

fastapi
uvicorn[standard]
langchain
langgraph
groq
requests